<div class="page-container">
  <mat-card class="book-card">
    <div class="card-inner">
      <h2 class="card-title">書籍登録</h2>

      <div class="form-fields">
        <mat-form-field appearance="fill" class="input-medium">
          <input matInput placeholder="書籍名" [(ngModel)]="newBook.name" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-medium">
          <textarea
            matInput
            placeholder="あらすじ"
            rows="2"
            [(ngModel)]="newBook.detail"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-small">
          <input
            matInput
            placeholder="評価点"
            [(ngModel)]="newBook.evaluation"
          />
        </mat-form-field>
      </div>

      <div class="card-actions">
        <button mat-raised-button color="primary" (click)="addBook()">
          追加
        </button>
      </div>
    </div>
  </mat-card>
  <div class="book-list">
    <app-card
      *ngFor="let book of bookList; let i = index"
      [book]="book"
      (delete)="deleteBook(i)"
    ></app-card>
  </div>
</div>
